@model IEnumerable<FistCoreProject.Models.News>

<div class="container" style="margin-top:30px;margin-bottom:30px;">

	<h2>Index</h2>

	<p>
		<a asp-action="Create" class="btn btn-success">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Title)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Date)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Image)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Topic)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Category)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Title)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Date)
					</td>
					<td>
						<img src="~/Images/News/@item.Image" width="100px" height="100px" />
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Topic)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Category.Id)
					</td>
					<td>
						<a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.Id">Edit</a> |
						<a asp-action="Details" class="btn btn-outline-secondary" asp-route-id="@item.Id">Details</a> |
						<a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	</div>